* {
    margin: 0px auto;
    padding: 0px;
}
.wrapper {
    width: 1000px;
    /*background-color: cadetblue;*/
}
.nav {
    text-align: center;
    /*background-color:rgb(15, 202, 140);*/
    height: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav > ul > li {
    display: inline;
    list-style-type: none;
    padding: 10px;
    margin: 0px 10px;
    background-color: rgb(15, 202, 140);
    cursor: pointer;
    line-height: 30px;
    height: 34px;
    position: relative;
}
ul > li:hover {
    background-color: darkcyan;
    color: white;
    transition: all ease 500ms;
}
.nav > ul > li > ul {
    display: none;
    list-style-type: none;
    position: absolute;
}
.nav > ul > li:hover > ul {
    display: block;
    background-color:rgb(15, 202, 140) ;
    left: 0px;
    right: 0px;
    top: 100%;
}
.nav > ul > li > ul > li > ul{
    display: none;
    list-style-type: none;
}
.nav > ul > li > ul > li:hover > ul{
    display: block;
    transition: all ease 500ms;
    position: absolute;
    background-color:rgb(15, 202, 140) ;
    left: 100%;
    top: 50%;

}